@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
:root{
    color: #3D3D3B;
}
body{
    background-color: #EBEDEC;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}
/* Styling Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #A3A9B0;
    overflow: auto;
}
.navbar-items a {
    float: left;
    padding: 20px;
    margin-right: 30px;
    color: #EBEDEC;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    border-bottom: 5px solid #A3A9B0;
}
.logo{
    margin-left: 5%;
    padding: 17px 0px 12px 8px;
    color: #4C5870;
    font-size: 24px; 
    font-weight:600;
}
span{
    color: #EBEDEC;
}
.navbar-items a:hover, .navbar-items a.active {
    color: #4C5870;
    border-bottom-color: #4C5870;
    transition: 500ms;
}
/* Styling container-1 */
.container-1{
    position: relative;
    width: 100%;
    background-image: url(./img/bg-3.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
.content-1{
    padding-top: 170px;
    padding-left: 15%;
    color: #A3A9B0;
}
.content-1 h4{
    padding: 5px;
}
.content-1 h1{
    padding: 5px;
    color: #4C5870;
    font-weight: bold;
    font-size: 40px;
}
.content-1 h3{
    padding: 5px;
}
.btn-about{
    padding-top: 20px;
    padding-left: 20%;
}
.btn-about a{
    background-color: #A3A9B0;
    color: #3D3D3B;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    margin-left: 7px;
}
.btn-about a:hover{
    box-shadow: 0 2px 2px 0 #3D3D3B;
    color: #EBEDEC;
    transition: 200ms;
}
/* Styling container-2 */
.container-2{
    height: auto;
    width: 100%;
}
.myservice{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: #4C5870;
}
.content{
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #3D3D3B;
}
.content img{
    width: 100px;
}
.title-2, .title-3, .title-4{
    margin: 15px;
}
.content-2, .content-3, .content-4{
    margin: 15px;
}
/* Styling About */
.container-3{
    height: auto;
    width: 100%;
}
.container-3 h2{
    text-align: center;
    color: #4C5870;
    font-size: 30px;
    padding-top: 20px;
}
.about{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}
.about img{
    width: 325px;
    padding-right: 20px;
}
.about-2 p{
    font-size: 20px;
    color: #4C5870;
    line-height: 35px;

}
.portofolio{
    width: 100%;
    height: auto;
}
.portofolio h2{
    text-align: center;
    color: #4C5870;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
}
.portofolio-content{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.portofolio-content .col{
    margin: 10px;
    padding: 10px;
}
.portofolio-content .col img{
    height: 100px;
    padding-bottom: 20px;
}
.gallery{
    width: 100%;
    height: auto;
    background-color: #4C5870;
    padding-bottom: 50px;
}
.gallery h2{
    text-align: center;
    color: #EBEDEC;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
}
.gallery-content{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.gallery .img{
    margin: 10px;
    padding: 10px;
}
.gallery-content .img img{
    height: 240px;
    width: 300x;
}
.gallery-content img:hover{
    transform: scale(1.5);
    transition: 500ms;
    padding: 10px;
}
.blog{
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}
.blog h2{
    padding-top: 10px;
    padding-left: 10%;
}
.all-blog{
    display: block;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.blog-content-image img{
    height: 200px;
    width: 200px;
    padding: 20px;
}
.blog-content-text{
    padding-left: 20px;
}
.blog-content-text h3{
    padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
    .navbar, .navbar-items a{
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
    .content{
        flex-direction: column;  
    }
    .about{
        flex-direction: column;
    }
    .about-2{
        margin-top: 20px;
    }
    .portofolio-content{
        display: block;
    }
    .gallery-content{
        display: block;
    }
    .gallery-content .img img{
        height: 200px;
        width: 300px;
    }
    .blog-content{
        flex-direction: column;
    }
}
/*Styling Footer  */
footer{
    text-align: center;
    background-color: #A3A9B0;
    padding: 20px;
    bottom: 0;
    width: 100%;
    z-index: 1;
}